Vagrant.configure(2) do |config|

  config.vm.box = "williamyeh/k8s"

  config.vm.network "forwarded_port", guest: 8080, host: 8080
  config.vm.network "forwarded_port", guest: 4194, host: 4194
  config.vm.network "forwarded_port", guest: 2375, host: 2375

  config.vm.provision "shell", inline: <<-SHELL
    echo "Sleep for etcd to start..."
    sleep 30
    /opt/start-k8s.sh
  SHELL

end
